{{!
  Copyright (c) 2020 The Orbit Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
}}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div id="page_wrap">
        <header>Disassembling...</header>

        <main>
            <pre><code id="source" class="language-cpp"></code></pre>
        </main>

        <footer>
            <input id="close" type="button" value="Close" class="orbit"></input>
        </footer>
    </div>
</body>

</html>