build*/
/.idea/
/cmake-build*/
compile_commands.json
/.vscode/
/conan.log

# Ignore generated and compiled Python code
*_pb2.py
*.egg-info
__pycache__
*.pyc

# clangd
.clangd/
/.cache/

# Visual Studio
/.vs/
