src/Debug/CL.read.1.tlog
src/Debug/CL.write.1.tlog
src/Debug/Lib-link.read.1.tlog
src/Debug/Lib-link.write.1.tlog
src/Debug/cl.command.1.tlog
src/Debug/lib.command.1.tlog
src/Debug/vc100.idb
src/Debug/vc100.pdb
src/hook.opensdf
src/hook.sdf
src/hook.suo
src/hook.vcxproj.user
src/ipch/hook-6bac5161/hook-8edab1d.ipch
*.user
external/wxWidgets/build/msw/vc_mswud/stc/wx_vc10_stc.vcxprojResolveAssemblyReference.cache
external/wxWidgets/build/msw/wx_vc10.opensdf
external/wxWidgets/build/msw/wx_vc10.sdf
intermediate/
external/freeglut-2.8.1/VisualStudio/2010/
external/freeglut-2.8.1/progs/
external/freeglut-2.8.1/lib/x64/Debug/freeglut.ilk
external/freeglut-2.8.1/lib/x64/Debug/freeglut.pdb
external/freeglut-2.8.1/lib/x86/Debug/freeglut.ilk
external/freeglut-2.8.1/lib/x86/Debug/freeglut.pdb
external/freeglut-2.8.1/VisualStudio/2013/smooth_opengl3/Release/
external/freeglut-2.8.1/VisualStudio/2013/smooth_opengl3/Debug_Static/
external/freeglut-2.8.1/VisualStudio/2013/smooth_opengl3/Release_Static/
external/freeglut-2.8.1/VisualStudio/2013/subwin/Debug_Static/
external/freeglut-2.8.1/VisualStudio/2013/freeglut.v11.suo
external/freeglut-2.8.1/VisualStudio/2013/freeglut.v12.suo
*.obj
*.tlog
*.sdf
*.suo
*.log
*.idb
*.ipdb
*.pdb
*.exp
*.opensdf
*.tmp
*.sbr
*.cache
*.aps
*.db
*.opendb
*.fdb
external/freetype-gl/build/Debug/Images/Image_2D_0001_0023_icon.jpg
external/freetype-gl/build/Debug/
external/freetype-gl/build/Release/
external/glew-1.11.0/lib/Debug/
external/freetype-gl/build/postbuildlog.txt
external/wxWidgets-3.0.1/samples/
external/wxWidgets-3.0.1/build/msw/ipch/
external/freetype-gl/build/
config/config.xml
cache/
external/freeglut-2.8.1/VisualStudio/2013/build/Release_Static/x64_v120/freeglut.res
OrbitQt/OrbitQt.vcxproj_Debug_x64.bff
OrbitQt/fb.bat
build-OrbitQt-Desktop_Qt_5_7_0_MSVC2015_64bit-Release/
OrbitQt/OrbitQt.vcxproj_Release_x64.bff
OrbitQt/x64/
build-OrbitQt-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/
OrbitQt/debug/OrbitQt.res
OrbitQt/release/OrbitQt.res
*.ipch
external/DIA2Dump/x64/
ORBIT_PROFILER/
OrbitWeb/packages/
OrbitWeb/orbitprofiler.com.publishsettings
OrbitApp/OrbitApp.vcxproj_Release_x64.bff
OrbitCode/OrbitCode.vcxproj_Release_x64.bff
OrbitCore/OrbitCore.vcxproj_Release_x64.bff
OrbitCore/fb.bat
OrbitDll/OrbitDll.vcxproj_Release_x64.bff
OrbitDll/fb.bat
OrbitGl/OrbitGl.vcxproj_Release_x64.bff
OrbitDll/OrbitDll.vcxproj_Debug_x64.bff
OrbitGl/OrbitGl.vcxproj_Debug_x64.bff
OrbitApp/OrbitApp.vcxproj_Debug_x64.bff
OrbitCode/OrbitCode.vcxproj_Debug_x64.bff
OrbitCore/OrbitCore.vcxproj_Debug_x64.bff
config/FileMapping.txt
OrbitApp/OrbitApp.vcxproj_Debug_Win32.bff
OrbitApp/OrbitApp.vcxproj_Release_Win32.bff
OrbitApp/fb.bat
OrbitCode/fb.bat
OrbitCore/OrbitCore.vcxproj_Debug_Win32.bff
OrbitCore/OrbitCore.vcxproj_Release_Win32.bff
OrbitDll/OrbitDll.vcxproj_Debug_Win32.bff
OrbitDll/OrbitDll.vcxproj_Release_Win32.bff
OrbitGl/fb.bat
ORBIT_PROFILER_beta/
material-rtl1/
ORBIT_PROFILER_beta.rar
ORBIT_PROFILER_beta.zip
ORBIT_PROFILER_beta_0.0.2/
ORBIT_PROFILER_beta_0.0.2.rar
ORBIT_PROFILER_beta_0.0.2.zip
ORBIT_PROFILER_beta_0.0.3/
OrbitWeb/App_Data/download/ORBIT_PROFILER_beta_0.0.3.zip
OrbitQt/orbitmainwindow.ui.autosave
OrbitWeb/App_Data/download/ORBIT_PROFILER_beta_0.1.1.zip
DevDocs/BusinessCard_1.png
DevDocs/BusinessCard_2.png
ORBIT_PROFILER_beta_0.2.0/
external/glew-1.13.0/build/vc12/fb.bat
external/glew-2.0.0/build/vc14/fb.bat
external/glew-2.0.0/build/vc14/glew_shared.vcxproj_Debug_x64.bff
external/glew-2.0.0/build/vc14/glew_shared.vcxproj_Release_x64.bff
external/glew-2.0.0/build/vc14/glew_static.vcxproj_Debug_x64.bff
external/glew-2.0.0/build/vc14/glew_static.vcxproj_Release_x64.bff
external/glew-2.0.0/build/vc14/glewinfo.vcxproj_Debug_x64.bff
external/glew-2.0.0/build/vc14/glewinfo.vcxproj_Release_x64.bff
external/glew-2.0.0/build/vc14/visualinfo.vcxproj_Debug_x64.bff
external/glew-2.0.0/build/vc14/visualinfo.vcxproj_Release_x64.bff
OrbitAsm/OrbitAsm.vcxproj_Debug_x64.bff
OrbitAsm/OrbitAsm.vcxproj_Release_x64.bff
OrbitAsm/fb.bat
OrbitWeb/App_Data/download/ORBIT_PROFILER_beta_0.3.0.zip
OrbitBuilder/OrbitBuilder.vcxproj_Debug_x64.bff
OrbitBuilder/OrbitBuilder.vcxproj_Release_x64.bff
OrbitBuilder/fb.bat
dumps/
OrbitWeb/App_Data/download/ORBIT_PROFILER_beta_0.3.1.zip
OrbitSymbols/
OrbitWeb/App_Data/download/
builds/
OrbitBuilder/OrbitBuilder.vcxproj_Release_Win32.bff
OrbitApiTest/fb.bat
OrbitApiTest/OrbitApiTest.vcxproj_Debug_x64.bff
OrbitQt/OrbitQt_postbuild.bat
OrbitQt/OrbitQt_postbuild.bat.txt
OrbitGl/OrbitGl.vcxproj_Debug_Win32.bff
OrbitPlugin/OrbitPlugin.vcxproj_Release_x64.bff
OrbitPlugin/OrbitPlugin.vcxproj_Debug_x64.bff
x64/Release/OrbitPlugin.ipdb
x64/Release/OrbitPlugin.iobj
OrbitPlugin/OrbitPlugin_postbuild.bat.txt
OrbitPlugin/OrbitPlugin_postbuild.bat
OrbitPlugin/fb.bat
external/glew-1.13.0/bin/
external/freetype-gl/windows/glew/bin/
OrbitWeb/Bin/
external/glew-2.0.0/auto/bin/
external/glew-2.0.0/bin/
external/minhook/bin/
build/
/.idea/
/cmake-build*/
.clangd/
compile_commands.json
