# Copyright (c) 2022 The Orbit Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Following "security hardening for github actions", only Orbit core team
# members can make changes to the actions.
/.github/workflows/ @google/orbit