# Format: //devtools/kokoro/config/proto/build.proto


# Location of the bash script. Should have value <github_scm.name>/<path_from_repository_root>.
# github_scm.name is specified in the job configuration (next section).
build_file: "orbitprofiler/kokoro/gcp_windows/kokoro_build_release.bat"

action {
  define_artifacts {
    regex: "github/orbitprofiler/build_msvc2019_release_x64/package/**"
    strip_prefix: "github/orbitprofiler/build_msvc2019_release_x64/package"
  }
}

